
.cryptocurrency__table {
  margin-top: 4rem;
  color: white;
  width: 90%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table:last-child {
  border-bottom: none
}

.table__row {
  border-top: 1px solid var(--color-lightBlue);
  height: 90px;
}

.table__row:last-child {
  border-bottom: 1px solid var(--color-lightBlue);
}

.table__data {
  text-align: center;
  font-size: 20px;
  width: 100px;
}

.table__link {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-subtext);
  display: flex;
  align-items: center;
  justify-content: center;
}

.coins__logo {
  width: 40px;
  margin-right: 1rem;
}




