.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  color: white;
  padding: 2rem;
  width: 35%;
}

.navbar__logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
}

.navbar__img {
  margin-right: 1rem;
}

.navbar__text {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.navbar__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.navbar__icon {
  margin-right: 1rem;
  width: 29px;
}