.footer__container {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient-bar);
}


.footer__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer__links {
  margin-top: 1rem;
  display: flex;
  font-weight: 600;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: black;
}

@media screen and (max-width: 1050px) {
  .footer__container {
    width: 100%;
    align-items: center;
  }
  .footer__content {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .footer__container {
    padding: 12px 0;
  }
  .footer__content {
    flex-direction: column;
  }
}
  
