.news__container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 2rem 0 ;
  gap: 20px;
}

.news__link {
  display: flex;
}

@media screen and (max-width: 1050px) {
  .news__link {
    justify-content: center;
  }
}

.news__card {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: var(--color-darkBlue);
}

.news__card:hover {
  box-shadow: 0px 0px 17px 0px rgb(255, 255, 255);
}

.news__card--title {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.news__img {
  width: 70px;
}

.news__text {
  display: flex;
  
}

.news__content {
  margin: 1rem 0;
  color: var(--color-lightBlue);
  line-height: 2rem;
  letter-spacing: 1px;
}

.provider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(85, 85, 85);
} 

.provider__source {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.provider__img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.provider__name {
  color: white;
  letter-spacing: 1px;
}

.provider__time {
  color: white;
} 

  







